/* .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
body {
    background-image: url("https://images.unsplash.com/photo-1431274172761-fca41d930114?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-position: center;
    background-size: 100%;
    
    
    /* background-repeat: no-repeat;
    background-color: red; */
    
}
h1{
    font-size: 50px;
    animation-direction: reverse;
    color: white;
}

.container{
    display: block;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 290px;
    height: 360px;
}
.thecard{
    position: absolute;
    width: 240px;
    height: 340px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.thecard:hover{
    transform: rotateY(180deg);
}
 .thefront{  
     position: absolute;
     width: 240px;
     height: 340px;
     backface-visibility: hidden;
     background: blue;
     border-radius: 20px;
     color: white;
     font-size: 20px;
     text-align: center;
 }
 .thefront.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

 .theback{
    position: absolute;
    width: 240px;
    height: 340px;
    backface-visibility: hidden;
    background: red;
    text-align: center;
    color: black;
    border-radius: 20px;
    font-size: 20px;
    transform: rotateY(180deg);
}
	

.button1 {
	background-color:white;
	border-radius:28px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color: blue;
	font-family:Arial;
	font-size:18px;
	padding:7px 26px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    
  
  
}
.button2 {
  

}

button {
	background-color:white;
	border-radius:28px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color: blue;
	font-family:Arial;
	font-size:18px;
	padding:7px 26px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

nav {
    display: flex;
    margin-left: 540px;
    margin-top: 50px;
}

.score {
    color: white;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    width: 50px;
    background-color: black;
}
